@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #F8EDE3;

  p {
    margin: 0;
  }

  .hero-banner {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    pointer-events: none;

    .title {

      p {
        font-family: "Lora", serif;
        font-size: 25vw;
        font-weight: 500;
        opacity: 0.85;
        letter-spacing: 30px;

        > span {
          text-transform: uppercase;
        }
      }
    }
  }

  .debugger {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;

    font-size: 3rem;

    .next, .prev {
        cursor: pointer;
    }
  }

  .slider {
    padding: 25px;
    width: 100%;
    overflow: hidden;

    .cards-container {
      display: flex;
      height: 100%;
      flex-wrap: nowrap;
      justify-content: flex-start;

      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: 600;

        margin-right: 15rem;

        transition: transform 0.1s ease-out;
        inset: 0;
        position: relative;

        &:hover {
          transform: rotateY(var(--y-rotation)) rotateX(var(--x-rotation)) scale(1.1);
        }

        &:first-child {
          margin-left: 15rem;
        }

        .wrapper {
          border: 2px solid #543310;
          left: 0;
          height: 350px;
          width: 500px;
          overflow: hidden;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .glare {
          position: absolute;
          inset: 0;
          z-index: 20;

          mix-blend-mode: soft-light;
          background: radial-gradient(
                          circle at var(--x) var(--y),
                          rgba(255, 255, 255, 0.4) 30%,
                          transparent 70%
          );
        }
      }
    }
  }

  .hero-footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .infos {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
      padding: 1rem;

      .button {
        border-radius: 2.5rem;
        border: 2px solid black;
        padding: 0.75rem 1.5rem;
        cursor: pointer;
        white-space: nowrap;
        transition: background-color 0.3s ease-out;

        p {
          font-weight: bold;
          font-size: 1.2rem;
        }
      }

      .accroche {
        font-family: "Lora", serif;
        font-style: italic;
        font-size: 4vw;
        text-align: center;
      }

      .left {
        &:hover {
          background-color: #0f0f0f;
          color: white;
        }
      }

      .right {
        background-color: #0f0f0f;
        color: white;

        &:hover {
          background-color: #518cff;
          color: white;
        }
      }
    }

    .loader {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 100%;
      gap: 10px;

      .part {
        height: 3px;
        background-color: #0f0f0f;
        width: 33%;
        opacity: 0.3;

        transition: opacity 0.5s ease;

        &:first-child {
          opacity: 0.8;
        }
      }
    }
  }
}