.app {
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    .menu {

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;

      padding: 2rem 1rem;
      opacity: 1;

      transition: 0.3s width ease-in-out;
      height: 100%;
      width: 250px;

      &.closed {
        width: 0;
        padding: 0;
        opacity: 0;
      }

      .category {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        padding: .5rem;

        > .title {
          font-weight: 200;
          color: #191919;
        }

        > .link {
          font-weight: 700;
          cursor: pointer;
          margin: 0 1rem;
        }
      }
    }

    .iframe {
      width: calc(100% - 250px);
      height: 100%;

      &.resized {
        width: 100%;
      }
    }
  }

  .code-icon, .close-icon {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
    z-index: 10;
    position: absolute;
    font-size: 13px;
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .code-icon {
    bottom: 0;
    right: 0;
  }

  .close-icon {
    top: 0;
    left: 250px;
    transition: 0.3s left ease-in-out, 0.4s transform ease-in-out;

    &.replace {
      left: 0;
      transform: rotate(180deg);
    }
  }
}

.container-project {
  margin: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

