body {
  margin: 0;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.app {
  margin: 0;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    
    .menu {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      z-index: 99;

      padding: 2rem 1rem;
      opacity: 1;

      transition: 0.3s width ease-in-out;
      width: 250px;
      height: 100vh;

      overflow: auto;

      @media (max-width: 644px) {
        position: absolute;
        width: 100%
      }

      &.closed {
        width: 0;
        padding: 0;
        opacity: 0;
      }

      .category {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        padding: .5rem;

        > .title {
          font-weight: 200;
          color: #191919;
          border-bottom: 1px solid black;
        }

        > .link {
          font-weight: 700;
          cursor: pointer;
          margin: 0 1rem;
          transition: 0.3s padding-left ease-in;

          &.hovered:not(.active) {
            padding-left: 1rem;
          }

          &.active {
            background-color: rgba(170, 207, 170, 0.44);
            color: rgb(47 92 47);
            padding: 0.5rem 1rem .5rem .75rem;
            border-radius: .25rem;
          }
        }
      }
    }

    .iframe {
      width: calc(100% - 250px);
      height: 100vh;

      &.resized {
        width: 100%;
      }
    }
  }

  .code-icon, .close-icon {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
    z-index: 10;
    position: absolute;
    font-size: 13px;
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .code-icon {
    bottom: 0;
    right: 0;
  }

  .close-icon {
    top: 0;
    left: 250px;
    transition: 0.3s left ease-in-out, 0.4s transform ease-in-out;

    &.replace {
      left: 0;
      transform: rotate(180deg);
    }
  }
}

.container-project {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

