.container-project {
  position: relative;

  &.locked {
    background-color: orangered;
    height: 100vh;
    overflow: hidden;
  }

  h1 {
    font-size: 7vmin;
    margin: 0;
  }

  p {
    color: darkgrey;
    font-size: 2.5vmin;
  }

  span {
    font-weight: 600;
    color: black;
  }

  .intro {
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0f0f0f;
    color: white;
  }

  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  }

  .container {
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #0f0f0f;
    text-transform: uppercase;

    section {
      display: flex;
      align-items: center;
      height: 100vh;
      position: relative;

      &.discover {
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 50%;
      }

      &.story {
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: 40%;
      }

      &.description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .infos {
          width: 40%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          padding-top: 12rem;
        }
      }
    }
  }
}